@mixin app-layout {
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  @include mobile() {
    padding: 0rem;
    align-items: stretch;
  }

  &-container {
    border: 1px solid white;
    background-color: white;
    width: 40vw;

    @include mobile() {
      display: grid;
      grid-template-rows: min-content 1fr;
      width: 100vw;
      border: none;
    }
  }
}

@mixin mobile {
  @media (max-width: 56.25em) {
    @content;
  }
}
